<h1>The Home Page</h1>
<body>
<h2>I tested GET with <br></h2> 
	52.27.117.33:3000/getRequest?foo=bar&data=rosa <br><br>
<h2>I tested POST using Advanced Rest Client with <br></h2>
	52.27.117.33:3000/postRequest<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x-www-form-urlencoded: rosa=tung&foo=bar <br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;json: {"rosa":"tung", "foo":"bar"} <br><br>
</body>
